/* Card1.css */

/* Основной контейнер для всей карточки */
.card1 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}

.card1-content {
    width: 60%;
    padding: 0;
    margin: 0;
    justify-content: center;
}

/* Контейнер заголовка */
.card1-header-container {
    padding: 10px;
    border: 2px solid #173a63;
    margin: 20px;
    width: 50%;
    text-align: center;
}

/* Заголовок карточки */
.card1-header {
    font-size: 24px;
    font-weight: bold;
    color: #173a63;
}

/* Основной контейнер */
.card1-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

/* Левая колонка */
.card1-body-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* Правая колонка */
.card1-body-right {
    flex: 0.5;
    display: flex;
    align-items: center;
    align-self: stretch;
}

/* Список */
.card1-list {
    list-style-type: disc;
    padding: 20px; /* Немного отступа слева для списка */
    margin: 0;
}

.card1-list li {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #555;
}

/* Иконка шестеренки */
.gear-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

/* PhotoSlider */
.card1-body-right > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
